.right .photo img{
	position: relative;
	float:right;
   right: 204px;
   top:44px;
	border-width: 10px;
}
.right .personal-data{
margin-top:63px;
}
.right .personal-data p {
	margin-left: 300px;
	margin-right: 5px;
	margin-top: 15px;
	font-family: Garamond, serif;
	color: #000000;
}

.right .personal-data h4 {
	margin-left: 250px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}
.right .personal-data li {
	margin-left: 250px;
	list-style-type: square;
}